<h4>Post details:</h4>
<p>
	<br />
	<%= @row.content %>
	<br />
	<br />
	Added at <%= @row.created_at %> by <%= @row.author %>
</p>
<br>
<h4>Comments:</h4>
<br>
		<% @comments.each do |c| %>
		<p>
			<%= c.content %>
			<br>
			<br>
			<span style="font-size: 75%; color: #999">Added at <%= c.created_at %></span>
		</p>
	<hr>
	<% end %>



<p>
	<form action="/details/<%= @row.id %>" method="POST" role="form">
		<textarea name="comment[content]" class="form-control" rows="6" placeholder="Type comment text here"></textarea>
	<br>	
	  	<button type="submit" class="btn btn-primary">Add comment</button>
	</form>

</p>
